URxvt.font: xft:Fira Code:Regular:size=10
URxvt.scrollBar: off
URxvt.letterSpace: -1
URxvt.cursorBlink: 1

Xft.antialias: true
Xft.hinting: true
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! home computer
Xft.dpi: 109

! laptop
! dpi is recommended to be a multiple of 96. 192 -> 200% scaling
! Xft.dpi: 192
! Xcursor.size: 48

! a C preprocessor, such as GNU CPP, is required to use this functionality.
#include ".Xresources.d/terminal-colors"

